.card {
  /* color used to softly clip top and bottom of the .words container */
  --bg-color: #212121;
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  display: flex;
font-size: 25px;

}
.loader {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.words {
  overflow: hidden;
  position: relative;
  height: 40px;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
  pointer-events: none;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  height: 40px;
line-height: 40px;
  color: #8930FC  ;
  animation: spin_4991 6s infinite;
}
@keyframes spin_4991 {
  0% {
    transform: translateY(0%);
  }

  16.66% {
    transform: translateY(0%);
  }

  33.33% {
    transform: translateY(-100%);
  }

  49.99% {
    transform: translateY(-100%);
  }

  66.66% {
    transform: translateY(-200%);
  }

  83.33% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}